/Car.class
/Command.class
/FacadeParking.class
/Motorcycle.class
/ParkingSpot.class
/MotorcycleAdapter.class
/ParkingLot.class
/lot.class
/simulator.class
/CarInterface.class
/MotorcycleInterface.class
/ParkingSpotInterface.class
/ParkingSpotDecorator.class
/HandicapSpotDecorator.class
/MotorcycleSpot.class
